.btn {
    display: inline-block;
    text-decoration: none;
    background-color: #ffffff;
    color: #101010;
    font-family: Arial, sans-serif;
    margin-bottom: .63rem;
    vertical-align: middle;
    border: 1px solid #101010;
    padding: .8rem 1rem;
    text-align: center;
    font-size: 1rem;
    white-space: nowrap;
    transition: background-color .2s;
}

.btn:hover {
    background-color: #000000;
    border: 1px solid #000000;
    color: #ffffff;
}